<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            Currently working as a Sr. Software Developer. My role function requires to develop code using programming specifications, high level design documents and implement the identified components based on client requirements. Its also ensure that the implemented components are unit tested and ready to beintegrated into the product. You will provide defect fixes identified by theverification team during the software development life cycle and be exposed to projects across different domains.
        </p>
        <p>
           As a software Developer, I will support service specialists in performing problem determination and analysis on client systems Depending on the severity level of a problem, I will be required to work directly with clients through conference calls or on site visits and provide in sight and feedback regarding the client environment to the development organization and be responsible for existing and new product development.
        </p>
       
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Technical Specialization</h3>
		    <ul>
         <li>PHP, MYSQL, JQUEY, AJAX</li>
    			<li>
            Laravel Developer.
    			</li>
          <li>
            Opencart Developer.
          <li>
            Amazon Web Services (AWS) - Cloud Computing Services.
    			<li>
            Facebook API Integrations.
    			</li>
    			<li>
            Google API Integrations.
    			</li>
          <li>Social API Integration</li>
          <li>SSL Installations</li>
          <li>Cloud Server Installations</li>
          <li>Payment Gatway Integrations</li>
          <li>Ecommerce Solutions</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
