<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    Professional skills:
        </p>
			<ul>
			  <li>Honest, ambitious and confident self-starter with professional attitude and excellent trouble-shooting, presentation, planning and execution skills.</li>
			  <li>Prompt and effective English communication (chat, voice and video) skills is what I adhere to and consider one of my strengths.</li>
			  <li>Good internet connection (Skype, Teamviewer, GoToMeeting)</li>
        <li>Extremely hard-working and will always strive to deliver an excellent product.</li>
        <li>You can expect ability to work 10-12 hrs/day, less than 24 hours response time, clean code, optimal solutions and regular updates.</li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Back-end skills</h3>
		  <ul>
  			<li>PHP 5 (prefer to use OOP and MVC pattern)</li>
  			<li> PHP Frameworks (CodeIgniter, Zend, WordPress, CakePhp)</li>
        <li>MySQL (database design, complex queries, data optimizations)</li>
        <li>Others (AJAX, REST, JSON, SOAP, XML)</li>
        <li>Payment Gateways Integration (PayPal, Google Checkout, Authorize.net etc)</li>
        <li>Version Control (SVN, GIT, Bitbucket)</li>
        <li>Project Tracking (Basecamp, Bitbucket, JIRA, Mantis, TeamLab, Asana, Atlassians etc)</li>
        <li>Third Party APIs Integration (Google, Facebook, Twitter, Linkedin, Amazon etc)</li>
  		</ul>
  		    
      </div>
    </div>
  </div>
</section>
